:root{
    --orange: orange;
    --yellow: yellow;
    --white: white;
    --blue: rgb(20, 20, 59);
    --lighter-blue: rgb(40, 40, 102);
    --red: rgb(151, 48, 48);
    --green: rgb(14, 152, 14);
}
*{
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
body{
    width: 100vw;
    height: 100dvh;
    margin: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
#game{
    width: 830px;
    height: 490px;
    display: flex;
    margin: 4rem auto;
    border: 2px solid var(--orange);
    background-color: var(--blue);
    color: var(--white);
}
#text-based{
    width: calc(100% - 277px);
    border-right: 2px solid var(--orange);
}
img{
    width: 278px;
    overflow: hidden;
}
#stats, #inventory, #monster-stats, #buttons{
    padding: 10px;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--orange);
    background-color: var(--lighter-blue);
}
#monster-stats{
    background-color: var(--red);
    display: none;
}
#stats span, #inventory span, #monster-stats span{  padding-right: 15px;
}

button{
    padding: 6px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 800;
    border: 1px solid var(--yellow);
    cursor: pointer;
}
#potion{
    background-color: var(--green);
}
p{
    padding: 0 20px;
    font-size: 1.1rem;
}